
<div class='container'>
<div class='row'>



  <div class='col-md-3'>
    <%= render 'users/info' %>
  </div>

  <div class="col-md-8 offset-md-1">
  <h2>フォローしたユーザー一覧</h2>
  <% if @users.exists? %>

    <% @users.each do |user| %>

      <td>
  	    <%= attachment_image_tag(user, :image, :fill, 40, 40, fallback: "no_image.jpg") %>
        <%= user.name %>

        <% if user.id != current_user.id %>
        <% if current_user.is_followed_by?(user) %>
          <%= link_to user_relationships_path(user.id), method: :delete do %>フォロー外す
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post do %>フォローする
          <% end %>
        <% end %>
        <% end %>
      </td>
      </br>
    <% end %>

  <% else %>
    <p>ユーザーはいません</p>
  <% end %>

  </div>
</div>
</div>