
<div class='container'>
<div class='row'>



  <div class='col-md-3'>
    <%= render 'users/info' %>
  </div>

  <div class="col-md-8 offset-md-1">
  <h2>フォローしたユーザー一覧</h2></br>
  <% if @users.exists? %>

    <% @users.each do |user| %>

    <span class="followings">
      <table>
        <tr>
        <td>
  	    <%= attachment_image_tag(user, :image, :fill, 80, 80, fallback: "no_image.jpg") %>
        <span class="follow-name"><%= user.name %></span>

        <% if user.id != current_user.id %>
        <% if current_user.is_followed_by?(user) %>
          <%= link_to user_relationships_path(user.id), method: :delete do %>フォロー外す
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post do %>フォローする
          <% end %>
        <% end %>
        <% end %>
         </td>
        </tr>
      </table></br>
    <% end %>

  <% else %>
    <p>ユーザーはいません</p>

    </span>
  <% end %>

  </div>
</div>
</div>