

<div class="info">

  <div class="my-account">
    <span class="my-image">
      <tr><%= attachment_image_tag(@user, :image, :fill, 60, 60, fallback: "no_image.jpg") %></tr>
    </span>
    <span class="my-name">
      <tr><%= @user.name %></tr>
    </span>
  </div>

    <div class="follow">

    <span class="followings">
    <tr>
      <th>フォロー</th>
      <th><%= link_to @user.followings.count, user_followings_path(@user.id) %></th>
    </tr>
    </span>
    <tr>
      <th>フォロワー</th>
      <th><%= link_to @user.followers.count, user_followers_path(@user.id) %></th>
    </tr></br>
    </div>
    <div class="account-menu">
      <span class="profile">
        <i class="fas fa-user-circle"></i>
        <tr><%= link_to 'プロフィール',user_path(@user) %></tr></br></br>
      </span>
      <span class="post-index">
        <i class="fas fa-book-open"></i>
        <tr><%= link_to '投稿一覧',posts_path %></tr></br></br>
      </span>
      <span class="user-search">
        <i class="fas fa-users"></i>
        <tr><%= link_to 'ユーザー検索',users_path %></tr></br></br>
      </span>
      <span class="rice">
        <i class="fas fa-heart-broken"></i>
        <tr><%= link_to 'いいね一覧',favorites_path(@user.id) %></tr></br></br>
      </span>

    </div>



</div>


