
<div class='container'>
<div class='row'>

  <div class='col-md-3'>
    <%= render 'users/info' %>
    </div>

  <div class="col-md-8 offset-md-1">
    <h2>ユーザー検索</h2></br>

    <div class="search-form">
      <%= form_with url: user_search_path, method: :get, local: true do |f| %>
      <%= f.text_field :keyword, value: @keyword %>
      <%= f.submit "検索" %>
      <% end %>
    </div></br>

    <% @users.each do |user| %>
      <table>
        <tr>
        <td>
        <%= attachment_image_tag(user, :image, :fill, 80, 80, fallback: "no_image.jpg") %>
        <%= link_to user.name, user_path(user), class: "follow-name user_#{user.id}" %>

        <% if user.id != current_user.id %>
        <% if current_user.is_followed_by?(user) %>
          <%= link_to user_relationships_path(user.id), method: :delete do %>フォロー外す
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(user.id), method: :post do %>フォローする
          <% end %>
        <% end %>
        <% end %>

      </td>
        </tr>
      </table>



    <% end %>

  </div>
</div>
</div>


