<div class='container'>
<div class='row'>

  <div class='col-md-3'>
    <%= render 'users/info' %>
  </div>

  <div class="col-md-8 offset-md-1">


  <tr>
    <th><%= attachment_image_tag(@user, :image, :fill, 100, 100, fallback: "no_image.jpg") %></th>

    <span class="user-name"><%= @user.name %></span>

    <% if @user == current_user %>
    <span class="user-edit"><%= link_to '編集',edit_user_path(@user) %></span></br>
    <% end %>



	  <th><%= @user.introduction %></th></br>
  </tr>

  <span class="followings">
      <th>フォロー</th>
      <th><%= link_to @user.followings.count, user_followings_path(@user.id) %></th>
  </span>
frr
      <th>フォロワー</th>
      <th><%= link_to @user.followers.count, user_followers_path(@user.id) %></th>
  </br></br>

  <%= render 'posts/index',posts: @posts, user: @user %>

  </div>
