 <% @posts.each do |post| %>

  <table>
  	<tr>
  	  <td>
  	    <%= attachment_image_tag(post.user, :image, :fill, 40, 40, fallback: "no_image.jpg") %>
        <span class="user-name"><%= post.user.name %></span>

        <span class="user-follow">
        <% if post.user.id != current_user.id %>
        <% if current_user.is_followed_by?(post.user) %>
          <%= link_to user_relationships_path(post.user.id), method: :delete do %>フォロー外す
          <% end %>
        <% else %>
          <%= link_to user_relationships_path(post.user.id), method: :post do %>フォローする
          <% end %>
        <% end %>
        <% end %>
        </span>
        </br>
      </td>
    </tr>
  </table>


      <td><%= link_to post.title, post_path(post), class: "post-title post_#{post.id}" %></td></br></br>

      <td><span class="post-body"><%= post.body %></span></td></br></br>

      <td><span class="post-image"><%= attachment_image_tag post, :image, :fill, 100, 100, fallback: "no_image.jpg"%></span></br></br></td>

      <% if post.user == current_user %>
      <td>
        <%= link_to 'Edit', edit_post_path(post), class: "btn btn-sm btn-success edit_post_#{post.id}" %>
      </td>
      <td>
        <%= link_to 'Destroy', post_path(post), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger destroy_book_#{post.id}"%>
      </td></br>
      <% end %>

      <td>
        <div id="favorites_buttons_<%= post.id %>">
          <%= render 'favorites/favorite',post: post %>
        </div>
      </td></br>

    </tr>

  <% end %>