
<div class='container'>
<div class='row'>

  <div class='col-md-3'>
    <%= render 'users/info' %>
  </div>

<div class="col-md-8 offset-md-1">

<%= form_with model: @post, local:true do |f| %>

<h2>新規投稿</h2></br>


<div class="new-form">
  <div class="new-title">
  <label>タイトル</label></br>
  <%= f.text_field :title %>
  </div>

  <div class="new-body">
  <label>本文</label></br>
  <%= f.text_area :body %>
  </div>

  <div class="new-image">
  <label></label>
  <%= f.attachment_field :image %>
  </div></br>

  <span class="new-submit"><%= f.submit '投稿' %></span>

</div>

<% end %>

</div>
</div>