
<header class="border-bottom">
  <nav class="navbar navbar-expand-lg px-4 pt-4 pb-3" style="background-color:#CCFFFF">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span>トリビアの滝</span></a>

     <% if user_signed_in? %>

       <ul class="nav navbar-nav">
         <li><%= link_to ' Home',posts_path %></li>
         <li><%= link_to ' logout', destroy_user_session_path, method: :delete %></li>
      <% else %>
          <li><%= link_to ' Home',posts_path %></li>
          <li><%= link_to ' sign up', new_user_registration_path %></li>
          <li><%= link_to ' login', new_user_session_path %></li>
      <% end %>
    </div>
  </nav>
</header>



